binds {
    // Keys consist of modifiers separated by + signs, followed by an XKB key name
    // in the end. To find an XKB name for a particular key, you may use a program
    // like wev.
    //
    // Most actions that you can bind here can also be invoked programmatically with
    // `niri msg action do-something`.

    Super+Shift+Slash { show-hotkey-overlay; }

    Super+Return hotkey-overlay-title="Open a Terminal: foot" { spawn "foot"; }
    Super+A hotkey-overlay-title="Run an Application: fuzzel" { spawn "fuzzel"; }
    Super+Alt+L hotkey-overlay-title="Lock-Screen: swaylock" { spawn "bash" "-c" "~/.local/bin/lock"; }

    //APPS
    Super+Z hotkey-overlay-title="Browser: Zen" {spawn "app.zen_browser.zen"; }
    Super+S hotkey-overlay-title="PDF: Sioyek" {spawn "bash" "-c" "~/.local/Sioyek/squashfs-root/usr/bin/sioyek"; }
    // Waybar
    Super+Shift+W { spawn "bash" "-c" "killall -SIGUSR1 waybar"; }
    Super+D { spawn "bash" "-c" "killall -SIGUSR2 waybar"; }

    // Example volume keys mappings for PipeWire & WirePlumber.
    // The allow-when-locked=true property makes them work even when the session is locked.
    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

    // You can also move the mouse into the top-left hot corner,
    Super+O repeat=false { toggle-overview; }
    Super+Q { close-window; }

    Super+H     { focus-column-left; }
    Super+J     { focus-window-down; }
    Super+K     { focus-window-up; }
    Super+L     { focus-column-right; }

    Super+Shift+H     { move-column-left; }
    Super+Shift+J     { move-window-down; }
    Super+Shift+K     { move-window-up; }
    Super+Shift+L     { move-column-right; }

    // Super+D              { focus-workspace-down; }
    // Super+U              { focus-workspace-up; }

    Super+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Super+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Super+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Super+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Super+1 { focus-workspace 1; }
    Super+2 { focus-workspace 2; }
    Super+3 { focus-workspace 3; }
    Super+4 { focus-workspace 4; }
    Super+5 { focus-workspace 5; }
    Super+6 { focus-workspace 6; }
    Super+7 { focus-workspace 7; }
    Super+8 { focus-workspace 8; }
    Super+9 { focus-workspace 9; }
    Super+Shift+1 { move-column-to-workspace 1; }
    Super+Shift+2 { move-column-to-workspace 2; }
    Super+Shift+3 { move-column-to-workspace 3; }
    Super+Shift+4 { move-column-to-workspace 4; }
    Super+Shift+5 { move-column-to-workspace 5; }
    Super+Shift+6 { move-column-to-workspace 6; }
    Super+Shift+7 { move-column-to-workspace 7; }
    Super+Shift+8 { move-column-to-workspace 8; }
    Super+Shift+9 { move-column-to-workspace 9; }

    Super+BracketLeft  { consume-or-expel-window-left; }
    Super+BracketRight { consume-or-expel-window-right; }
    Super+M { focus-monitor-next; }

    Super+R { switch-preset-column-width; }
    Super+Shift+R { switch-preset-window-height; }
    Super+Ctrl+R { reset-window-height; }
    Super+F { maximize-column; }
    Super+Shift+F { fullscreen-window; }

    Super+Minus { set-column-width "-10%"; }
    Super+Equal { set-column-width "+10%"; }
    Super+Shift+Minus { set-window-height "-10%"; }
    Super+Shift+Equal { set-window-height "+10%"; }

    Super+Space   { toggle-window-floating; }
    Super+Shift+Space { switch-focus-between-floating-and-tiling; }
    Super+W { toggle-column-tabbed-display; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Super+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Super+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }
    Super+Shift+P { power-off-monitors; }

}
