// Find more information on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs

// Run `niri msg outputs` while inside a niri instance to list all outputs and their modes.
output "Seiko Epson Corporation EPSON PJ 0x01010101" {
    mode "1024x768@60.004"

    position x=0 y=0
}
output "eDP-1" {
    // off
    mode "1600x900@60"
}
